{% extends 'layouts/layout.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container-center">
    <table class="table w-75 mt-5">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <td style="display: flex; justify-content: space-around; align-items: center;" data-user-id="{{ user.id }}">
                        {% if current_user.role.name == "Admin" or current_user.id == user.id %}
                            <button class="btn btn-primary edit" data-toggle="modal" data-target="#edit-modal">Modifer</button>
                            <button class="btn btn-danger delete">Supprimer</button>
                        {% else %}
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#c3c3c3" d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm9 12c0 1.94-.624 3.735-1.672 5.207l-12.535-12.535c1.472-1.048 3.267-1.672 5.207-1.672 4.962 0 9 4.038 9 9zm-18 0c0-1.94.624-3.735 1.672-5.207l12.534 12.534c-1.471 1.049-3.266 1.673-5.206 1.673-4.962 0-9-4.038-9-9z"/></svg>
                            </span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="edit-modal" data-user-id="" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modification de l'utilisateur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-6" id="email-edit">
                        <label for="email">Adresse email</label>
                        <input id="email" type="text" class="form-control" placeholder="Email">
                    </div>
                    
                    <div class="form-group col-6" id="phone-edit">
                        <label for="phone">Numéro de téléphone</label>
                        <input id="phone" type="text" class="form-control" placeholder="Téléphone">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-6" id="last-name-edit">
                        <label for="last-name">Nom</label>
                        <input id="last-name" type="text" class="form-control" placeholder="Nom">
                    </div>

                    <div class="form-group col-6" id="first-name-edit">
                        <label for="first_name">Prénom</label>
                        <input id="first_name" type="text" class="form-control" placeholder="Prénom">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="update-user" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="{{ url_for('static', filename='js/setup-edit-modal.js') }}"></script>
{% endblock script %}