{% extends 'layouts/layout.html' %}

{% block title %}
    Connexion
{% endblock title %}

{% block content %}
    <div class="container-center">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert"><img src="{{ url_for('static', filename='img/close.svg') }}"></button>
                {{ message }}
            </div>
        {% endfor %}

        <div class="login-form">
            <h3>Connexion</h3>
            
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="{{ form.email.id }}">Adresse email</label>
                    {{ form.email(placeholder='Email', class_="form-control") }}
                    {% if form.email.errors %}
                        <ul>
                            {% for error in form.email.errors %}<li>{{ error }}</li>{% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="{{ form.password.id }}">Mot de passe</label>
                    {{ form.password(placeholder='Mot de passe', class_="form-control") }}
                    {% if form.password.errors %}
                        <ul>
                            {% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}
                        </ul>
                    {% endif %}
                </div>
                
                <div class="submit">
                    <button type="submit" class="btn btn-primary">Connexion</button>
                    <span>Pas encore inscris ? <a href="{{ url_for('auth_bp.signup') }}">Créer un compte</a></span>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}